<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>AddContact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="addGroup">
        <ion-item>
          <ion-label>Name :</ion-label>
          <ion-input formControlName="name" type="text" placeholder="please enter the name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>last Name :</ion-label>
          <ion-input formControlName="lastname" type="text" placeholder="please enter the last name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone :</ion-label>
          <ion-input formControlName="phone" type="tel" [(ngModel)]="phone" placeholder="please enter the first phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone 2 : </ion-label>
          <ion-input formControlName="phone2" type="tel" [(ngModel)]="phone2" placeholder="please enter the second phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Image URL :</ion-label>
          <ion-input formControlName="img" type="url" placeholder="please enter the image url's"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="addContact()" [disabled]="addGroup.invalid" expand="full" color="success">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
